@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #EAEAEA;
  --foreground: #111111;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-panchang);
  font-weight: 400;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px black;
    color: transparent;
  }
}